include README.md
include LICENSE
include pyproject.toml
recursive-include src/ines *.py
recursive-include tests *.py
recursive-include benchmarks *.py
recursive-include notebooks *.ipynb
recursive-include docs *.md *.rst
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
